# Web Scraping Assignment-1************

# 1.  Write a python program to display all the header tags from wikipedia.org.

In [48]:
# Importing Necessary libraries:

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [49]:
# To get required information:


page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

Header_Tags = []
for i in soup.find_all(class_="mw-headline"):
  Header_Tags.append(i.text)

Header_Tags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [18]:
page1 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt')
soup1 = BeautifulSoup(page1.content)

Name = []

for i in soup1.find_all(class_="lister-item-header"):
    Name.append(i.text.splitlines()[2])

Rating = []
for i in soup1.find_all(class_="ratings-bar"):
    Rating.append(i.text.split()[13])

Release = []
for i in soup1.find_all(class_="lister-item-year text-muted unbold"):
    Release.append(i.text)


print('-'*50)
print('IMDB’s Top rated 100 movies')
print('-'*50)

df_1 = pd.DataFrame({'Movie Name':name,'Rating of movie':rating,'Year of movie released':release})

df_1.head(100)

--------------------------------------------------
IMDB’s Top rated 100 movies
--------------------------------------------------

,Movie Name,Rating of movie,Year of movie released
0,The Shawshank Redemption,9.3/10,(1994)
1,The Godfather,9.2/10,(1972)
2,The Dark Knight,9/10,(2008)
3,The Lord of the Rings: The Return of the King,9/10,(2003)
4,The Godfather Part II,9/10,(1974)
...,...,...,...
95,Vertigo,8.3/10,(1958)
96,Lawrence of Arabia,8.3/10,(1962)
97,Citizen Kane,8.3/10,(1941)
98,Toy Story 3,8.3/10,(2010)
99,M - Eine Stadt sucht einen Mörder,8.3/10,(1931)

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [19]:
# To get requied information:

page2 = requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup2 = BeautifulSoup(page2.content)

Name_1=[]
for i in soup2.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    Name_1.append(cells[0].text.strip())
    
Rating_1=[]
for i in soup2.find_all('div', class_="ipl-rating-star small"):
    Rating_1.append(i.text.replace('\n',''))

Release_1=[]
for i in soup2.find_all('span', class_="lister-item-year text-muted unbold"):
    Release_1.append(i.text)


print('-'*50)
print('\t\t IMDB’s Top rated 100 Indian movies')
print('-'*50)

df_2 = pd.DataFrame({'Movie Name':Name_1,'Rating of movie':Rating_1,'Year of movie released':Release_1})

df_2

--------------------------------------------------
		 IMDB’s Top rated 100 Indian movies
--------------------------------------------------

                 Movie Name Rating of movie Year of movie released
0                   Golmaal             8.5                 (1979)
1                  3 Idiots             8.4                 (2009)
2              Black Friday             8.4                 (2004)
3                     Guide             8.4                 (1965)
4                    Masoom             8.4                 (1983)
..                      ...             ...                    ...
95                 Rangeela             7.4                 (1995)
96  Jaane Tu... Ya Jaane Na             7.4                 (2008)
97             Socha Na Tha             7.4                 (2005)
98   Qayamat Se Qayamat Tak             7.4                 (1988)
99                    Gunda             7.3                 (1998)

[100 rows x 3 columns]

# 4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from :

https://presidentofindia.nic.in/former-presidents.htm

In [23]:
# To get required information:

page3 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3 = BeautifulSoup(page3.content)

President_name=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    President_name.append(cells[0].text.strip())


Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))

print('-'*50)
print('Former Presidents of India')
print('-'*50)

df_3 = pd.DataFrame({'Name of President':PresidentName,'Term of Office':Term})
df_3

--------------------------------------------------
Former Presidents of India
--------------------------------------------------

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 5. Write a python program to scrape cricket rankings from icc-cricket.com.


a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [36]:
# To get reuired infrormation:

page4= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup4= BeautifulSoup(page4.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup4.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print('Top 10 ODI Teams')
print('-'*50)

df_4= pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_4

--------------------------------------------------
Top 10 ODI Teams
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1   New Zealand , NZ      26  3,045    117
1       2      England , ENG      30  3,400    113
2       3    Australia , AUS      32  3,572    112
3       4        India , IND      40  4,377    109
4       5     Pakistan , PAK      25  2,649    106
5       6  South Africa , SA      24  2,392    100
6       7   Bangladesh , BAN      33  3,129     95
7       8     Sri Lanka , SL      33  2,917     88
8       9  Afghanistan , AFG      20  1,419     71
9      10   West Indies , WI      41  2,902     71

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [37]:
page4_2= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup4_2= BeautifulSoup(page4_2.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_2.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print(" Top 10 ODI Batsmen")
print('-'*50)

df_4_2= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_4_2

--------------------------------------------------
 Top 10 ODI Batsmen
--------------------------------------------------

                  Player Team Rating
0             Babar Azam  PAK    891
1  Rassie van der Dussen   SA    766
2            Imam-ul-Haq  PAK    764
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Virat Kohli  IND    726
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    715
8         Jonny Bairstow  ENG    710
9           Fakhar Zaman  PAK    695

c) Top 10 ODI bowlers along with the records of their team and rating.

In [35]:
#To get required information:

page4_3= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup4_3= BeautifulSoup(page4_3.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_3.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

print('-'*50)
print("  Top 10 ODI Bowlers")
print('-'*50)

df_4_3=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_4_3

--------------------------------------------------
  Top 10 ODI Bowlers
--------------------------------------------------

              Player Team Rating
0        Trent Boult   NZ    744
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3        Rashid Khan  AFG    659
4         Matt Henry   NZ    656
5         Adam Zampa  AUS    655
6     Shaheen Afridi  PAK    654
7    Shakib Al Hasan  BAN    652
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

# 6. Write a python program to scrape cricket rankings from icc-cricket.com.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [34]:
page5_1 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup5_1 = BeautifulSoup(page5_1.content)

Matches = []
Points = []
Rating = []
Team = []
Ranking = []

for i in soup5_1.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())

print('-'*50)
print(" Top 10 ODI Teams in Women")
print('-'*50)

df_5_1 = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_5_1

--------------------------------------------------
 Top 10 ODI Teams in Women
--------------------------------------------------

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      18  3,061    170
1        2      England , ENG      28  3,342    119
2        3  South Africa , SA      26  3,098    119
3        4        India , IND      27  2,820    104
4        5   New Zealand , NZ      25  2,553    102
5        6   West Indies , WI      27  2,535     94
6        7   Bangladesh , BAN      13    983     76
7        8     Thailand , THA       8    572     72
8        9     Pakistan , PAK      24  1,519     63
9       10     Sri Lanka , SL       8    353     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [38]:
page5_2= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup5_2= BeautifulSoup(page5_2.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_2.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("  Top 10 ODI Batting Players in Women's")
print('-'*50)

df_5_2= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_5_2

--------------------------------------------------
  Top 10 ODI Batting Players in Women's
--------------------------------------------------

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8  Chamari Athapaththu   SL    655
9         Ellyse Perry  AUS    642

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [39]:
page5_3= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup5_3= BeautifulSoup(page5_3.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_3.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("Top 10 women’s ODI all-rounder")
print('-'*50)


df_5_3= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_5_3

--------------------------------------------------
Top 10 women’s ODI all-rounder
--------------------------------------------------

              Player Team Rating
0       Ellyse Perry  AUS    374
1    Hayley Matthews   WI    373
2     Natalie Sciver  ENG    371
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    214
9  Sophie Ecclestone  ENG    205

# 7.  Write a python program to scrape mentioned news details from:

https://www.cnbc.com/world/?region=world

**To find:**

           i) Headline 
           ii) Time 
           iii) News Link

In [41]:
page6= requests.get('https://www.cnbc.com/world/?region=world')
soup6= BeautifulSoup(page6.content)

Headline = []
for i in soup6.find_all('a', class_="LatestNews-headline"):
    Headline.append(i.get('title'))


Time = []
for i in soup6.find_all('span', class_="LatestNews-wrapper"):
    Time.append(i.text)

NewsLink = []
for i in soup6.find_all('a',class_="LatestNews-headline"):
    NewsLink.append(i.get('href'))
    
print('-'*50)
print("News Fetched")
print('-'*50)


df_6= pd.DataFrame({'Headline':Headline,'Time':Time,'News link':NewsLink})  
df_6

--------------------------------------------------
News Fetched
--------------------------------------------------

,Headline,Time,News link
0,More classified documents found at Biden’s Del...,17 Hours Ago,https://www.cnbc.com/2023/01/14/white-house-sa...
1,The biggest risks of using Bluetooth trackers ...,17 Hours Ago,https://www.cnbc.com/2023/01/14/the-biggest-se...
2,Veganuary: 3 ways to meet your protein goals o...,19 Hours Ago,https://www.cnbc.com/2023/01/14/veganuary-3-wa...
3,Investing in last year's top 10 stocks is 'a r...,19 Hours Ago,https://www.cnbc.com/2023/01/14/best-performin...
4,4 side hustles for introverts: Some can bring ...,19 Hours Ago,https://www.cnbc.com/2023/01/14/side-hustles-f...
5,Here are the odds you'll win the $404 million ...,20 Hours Ago,https://www.cnbc.com/2023/01/14/powerball-odds...
6,The condo king of Miami is betting big on a ne...,20 Hours Ago,https://www.cnbc.com/2023/01/14/condo-king-mia...
7,Carmakers upgrade lineups to meet high-end dem...,20 Hours Ago,https://www.cnbc.com/2023/01/14/carmakers-upgr...
8,What it’s like to deliver for Amazon in new el...,20 Hours Ago,https://www.cnbc.com/2023/01/14/what-its-like-...
9,The bold bullish case to be made for U.S. stocks,21 Hours Ago,https://www.cnbc.com/2023/01/14/the-bold-bulli...
10,Earnings stars: Stocks expected to post the bi...,21 Hours Ago,https://www.cnbc.com/2023/01/14/earnings-stars...
11,Morgan Stanley says these are the most underva...,21 Hours Ago,https://www.cnbc.com/2023/01/14/stocks-like-di...
12,"Stocks on a roll. But overbought market, earni...",21 Hours Ago,https://www.cnbc.com/2023/01/14/investing-club...
13,The zero-fare public transit movement is picki...,21 Hours Ago,https://www.cnbc.com/2023/01/14/zero-fare-publ...
14,"Building self-discipline by age 27 is crucial,...",21 Hours Ago,https://www.cnbc.com/2023/01/14/psychiatrist-f...
15,Iran executes British-Iranian national despite...,"January 14, 2023",https://www.cnbc.com/2023/01/14/iran-executes-...
16,Rising commodities prices could be a tailwind ...,"January 13, 2023",https://www.cnbc.com/2023/01/13/rising-commodi...
17,Cramer's lightning round: Costamare is not a buy,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-lightn...
18,Cramer’s week ahead: Wait before trading on co...,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-week-a...
19,CDC review finds it’s unlikely Pfizer booster ...,"January 13, 2023",https://www.cnbc.com/2023/01/13/pfizer-covid-b...
20,"House targets China, abortion, IRS funding in ...","January 13, 2023",https://www.cnbc.com/2023/01/13/gop-house-targ...
21,Pro Picks: Watch all of Friday's big stock cal...,"January 13, 2023",https://www.cnbc.com/2023/01/13/pro-picks-watc...
22,Rep. Santos admits he 'embellished' his resume...,"January 13, 2023",https://www.cnbc.com/2023/01/13/george-santos-...
23,"6 question on meditation, answered by an expert","January 13, 2023",https://www.cnbc.com/2023/01/13/6-meditation-q...
24,"Trump denies rape in testimony, falsely says a...","January 13, 2023",https://www.cnbc.com/2023/01/13/trump-depositi...
25,House Republicans move to regulate crypto indu...,"January 13, 2023",https://www.cnbc.com/2023/01/13/house-republic...
26,JPMorgan says college-planning firm it bought ...,"January 13, 2023",https://www.cnbc.com/2023/01/13/jpmorgan-says-...
27,Bill Gates: We will overshoot 1.5 degrees Cels...,"January 13, 2023",https://www.cnbc.com/2023/01/13/bill-gates-we-...
28,"Take profits on Starbucks after its huge run, ...","January 13, 2023",https://www.cnbc.com/2023/01/13/take-profits-o...
29,Hasbro delays Dungeons & Dragons licensing dea...,"January 13, 2023",https://www.cnbc.com/2023/01/13/hasbro-delays-...

# 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

**To find:**

         i) Paper Title 
        ii) Authors 
        iii)Published Date
        iv) Paper URL

In [45]:
page_7= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup_7= BeautifulSoup(page_7.content)

Paper_Title=[]
for i in soup_7.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)

Authors=[]
for i in soup_7.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)  

Published_Date=[]
for i in soup_7.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)  

Paper_URL=[]
for i in soup_7.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    Paper_URL.append(i.get('href'))

print('-'*50)
print(' Details of Most Downloaded Articles')
print('-'*50)

df_7=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
df_7

--------------------------------------------------
 Details of Most Downloaded Articles
--------------------------------------------------

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9. Write a python program to scrape mentioned details from :

dineout.co.in

**To find**

    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [47]:
page_8= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup_8= BeautifulSoup(page_8.content)

restaurant_name= []
for i in soup_8.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)

Cuisine=[]
for i in soup_8.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))


location=[]
for i in soup_8.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)

Ratings= []
for i in soup_8.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)

Image_URL= []
for i in soup_8.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])


print('-'*50)
print(' Details')
print('-'*50)

df_8=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
df_8

--------------------------------------------------
 Details
--------------------------------------------------

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

**Note : Question-10 is skipped(As informed) , because of error.**